body{
  /* use PT Sans, the custom web font that's loaded in the .html head */
  font-family: 'PT Sans', sans-serif;
}

h1{
	font-family: 'Roboto';
	color: red;
	padding-left: 20px;
}

p{
	font-family: 'Monserrat';
	font-size: 20px;
	color: blue;
	margin: 20px;
}

img{
	padding: 50px;
}
.left{
	float: right;
}